.venv/
.vscode/
backend/database/electoral_app.db
backend/database/main_dataset_loyola_prediction.xlsx
backend/database/profiles.csv
backend/__pycache__/
backend/utils/__pycache__/
backend/utils/routes/__pycache__/
backend/.env
frontend/.env