sqlalchemy
sqlalchemy[asyncio]
aiosqlite
passlib
bcrypt
fastapi
uvicorn[standard]
python-jose[cryptography]
folium
scikit-learn
geopy
httpx
rapidfuzz
pandas
python-multipart
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
