.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.panel-transition-width {
  transition-property: width;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
}

.leaflet-tooltip.fade-tooltip {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none; /* So it doesn't block mouseout */
}

.leaflet-tooltip.fade-tooltip.leaflet-tooltip-open {
  opacity: 1;
}